# Changes history.
.history/

# Visual Studio Code cache/options directory.
.vscode/

# Terraform dependency files.
azure devops pipeline/.terraform*
terraform - create a Linux VM/.terraform*
terraform - create a Linux VM/terraform*