<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunction-deploy20230509102846.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ea17f9bb-2449-44e4-b111-d65ab460d3e0/resourcegroups/mumu-AzFunc/providers/Microsoft.Web/sites/azurefunction-deploy20230509102846</ResourceId>
    <UserName>$azurefunction-deploy20230509102846</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunction-deploy20230509102846.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>